<div id="searchResultsContainer" class="column is-full-mobile">
    <div class="card glass-box">
        <header class="card-header">
            <p class="card-header-title is-4">Search Results</p>
            <button class="card-header-icon" aria-label="close">
                <span class="icon">
                    <i class="pi pi-times"></i>
                </span>
            </button>
        </header>
        <div class="card-content m-0 p-0">
            <div id="songListContainer" style="max-height: calc(100vh - 320px); overflow-y: auto;">
                <table id="songTable" class="table is-fullwidth is-hoverable has-text-weight-semibold">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="has-text-weight-semibold">Title</th>
                            <th class="has-text-weight-semibold">Artist</th>
                            <th class="has-text-weight-semibold">Date Added</th>
                            <th class="has-text-weight-semibold">Duration</th>
                            <th class="has-text-weight-semibold">Action</th>
                        </tr>
                    </thead>
                    <tbody hx-get="/api/music/ui/tbody/{profileId}/0?search={searchQuery}"
                           hx-trigger="load"
                           hx-swap="innerHTML"
                           hx-indicator="#loadingRows">
                        <tr id="loadingRows" class="htmx-indicator">
                            <td colspan="6" style="padding: 0;">
                                <table style="width: 100%; border-collapse: collapse;">
                                    <tr><td class="is-skeleton" style="height: 3rem; width: 40px;"></td><td class="is-skeleton" style="height: 3rem;"></td><td class="is-skeleton" style="height: 3rem;"></td><td class="is-skeleton" style="height: 3rem; width: 120px;"></td><td class="is-skeleton" style="height: 3rem; width: 80px;"></td><td class="is-skeleton" style="height: 3rem; width: 80px;"></td></tr>
                                    <tr><td class="is-skeleton" style="height: 3rem; width: 40px;"></td><td class="is-skeleton" style="height: 3rem;"></td><td class="is-skeleton" style="height: 3rem;"></td><td class="is-skeleton" style="height: 3rem; width: 120px;"></td><td class="is-skeleton" style="height: 3rem; width: 80px;"></td><td class="is-skeleton" style="height: 3rem; width: 80px;"></td></tr>
                                    <tr><td class="is-skeleton" style="height: 3rem; width: 40px;"></td><td class="is-skeleton" style="height: 3rem;"></td><td class="is-skeleton" style="height: 3rem;"></td><td class="is-skeleton" style="height: 3rem; width: 120px;"></td><td class="is-skeleton" style="height: 3rem; width: 80px;"></td><td class="is-skeleton" style="height: 3rem; width: 80px;"></td></tr>
                                    <tr><td class="is-skeleton" style="height: 3rem; width: 40px;"></td><td class="is-skeleton" style="height: 3rem;"></td><td class="is-skeleton" style="height: 3rem;"></td><td class="is-skeleton" style="height: 3rem; width: 120px;"></td><td class="is-skeleton" style="height: 3rem; width: 80px;"></td><td class="is-skeleton" style="height: 3rem; width: 80px;"></td></tr>
                                    <tr><td class="is-skeleton" style="height: 3rem; width: 40px;"></td><td class="is-skeleton" style="height: 3rem;"></td><td class="is-skeleton" style="height: 3rem;"></td><td class="is-skeleton" style="height: 3rem; width: 120px;"></td><td class="is-skeleton" style="height: 3rem; width: 80px;"></td><td class="is-skeleton" style="height: 3rem; width: 80px;"></td></tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>